/* Home Page
------------------------------------------------------*/
/* Header
------------------------------------------------------*/
/* Footer
------------------------------------------------------*/
/* Layout
------------------------------------------------------*/

/* ---- Internal Section */


@charset "utf-8";

/* CSS Document  --------------------------------------------------- */

@media screen and (min-width: 800px) { 

}

@media screen and (max-width: 1000px) { 

/* Home Page
------------------------------------------------------*/

div#IntroText {width: 56%;}
div#HomePagePicture {display: inline-block; vertical-align: top; overflow: hidden; width: 40%;}
div#HomePagePicture img {width: 30em;}
}

@media screen and (max-width: 975px) { 

/* Home Page
------------------------------------------------------*/
p#OneStop {font: 700 1.25em 'Yanone Kaffeesatz', Arial, sans-serif; left: -1.75em;}

}

@media screen and (max-width: 935px) { 

}

@media screen and (max-width: 900px) { 

/* Header
------------------------------------------------------*/
div#Logo {width: 24%;}
div#Logo img {width: 100%;}
#nav li a {font: 700 1.25em 'Yanone Kaffeesatz', Arial, sans-serif; padding: .25em .25em .3em .25em;}
div#NavigationBlock {width: 62%;}
}

@media screen and (max-width: 850px) {
	
/* Home Page
------------------------------------------------------*/
div#HomeMiddle div.DoubleHoriz {text-align: center;}
div#HomeMiddle div.DoubleHoriz {display: block;}
div#HomeMiddleContainer {display: table; border-collapse: separate; border-spacing: .25em; margin: 1em auto;}
div#Features, div#PersonalStorage {display: table-cell; width: 49%;}
div#Features {border-color: #998675; border-style: solid; border-width: 0 1px 0 0; padding: 0 1em 0 0;}
div#PersonalStorage {border-color: #998675; border-style: solid; border-width: 0 0 0 1px; padding: 0 0 0 1.5em;}
div#Features div.DoubleHoriz, div#PersonalStorage div.DoubleHoriz, div#StorageTools div.DoubleHoriz, div#GoogleMap div.DoubleHoriz {display: none;} 
div#PersonalStorage > div {display: block;}
div#PersonalStorage > div dl, div#PersonalStorage > div dl + dl {border: none; margin: 0; padding: 0;}
div#PersonalStorage > div dl, div#PersonalStorage > div dl + dl {display: block;}
div#Features > div ul, div#Features > div ul + ul {border: none;} 
div#Features > div ul {padding-right: .25em;}
div#Features > div ul + ul {padding-left: .25em;}
div#HomeBottom {margin-top: 1em;}
a.YellowButton {font: 700 1.5em 'Yanone Kaffeesatz', Arial, sans-serif;}    

}

@media screen and (max-width: 800px) { 

div#GreenTrapezoid {width: 91%;}

}

@media screen and (max-width: 775px) { 


}

@media screen and (max-width: 750px) { 


}

@media screen and (max-width: 725px) { 


	
}

@media screen and (max-width: 700px) { 

/* Header
------------------------------------------------------*/

div#TopBanner {padding-bottom: 1em; text-align: right;}

div#Logo {float: left; width: 9em;}

div#NavigationBlock {padding-top: 16px; width: 20%;}
	#nav {background: #fff5e8 url(../images/bck-page.jpg) repeat; border-radius: 0 0 .5em .5em; border-width: 1px; display: none; right: 0; margin-top: .25em; padding: 0; position: absolute; width: auto;}
	#nav li {display: list-item;}
	#nav li a {padding: .5em; text-align: left; width: auto;}

	/* Submenu */
	#nav li ul {position: relative;}  
	#nav li:hover > ul {background: none; display: block; width: 100%;}
	#nav li ul li, #nav li ul li a {float: none; font-size: .9em; width: auto;}
		#nav li ul li a:visited {color: #000;}
		#nav li ul li a:hover {color: #fff;}
	#nav li ul li {_display: inline; /* for IE6 */ border-left: 0px; margin: 0;}
	#nav li ul li a {display: block; text-align: left;}
	
	#nav li.nav-mob {display: block;}
	#nav li.nav-nomob {display: none;}
				
#pull {display: inline-block; margin: 0; position: relative; vertical-align: middle;}

a#PayBill {background: none; color: #254d14; display: inline-block; font: 600 .9em 'Open Sans', sans-serif; height: auto; margin: 0 0 0 1em; padding: 16px 0 0 0; position: relative; right: auto; text-align: center; top: auto; vertical-align: top; width: auto;}
	a#PayBill:hover {background: none;}
	a#PayBill span {display: none;}
	a#PayBill img {display: block; margin: 0 auto .125em auto;}
	
p#PhoneNumber {display: none;}
	
/* Layout
------------------------------------------------------*/
div#GreenTrapezoid {width: 90%;}

/* Home Page
------------------------------------------------------*/

div#IntroText {width: 100%;} 
div#HomePagePicture {display: none;}

div#StorageTools > div h1 {font-size: 1.5em;}

/* FAQ and Storage Tips page
------------------------------------------------------*/

div#StorageInfo div {display: block; width: auto;}

}

@media screen and (max-width: 650px) { 

/* Home Page
------------------------------------------------------*/

div#FreeMonthViewRates {display: block; margin-left: auto; margin-right: auto; width: 300px;}
div#TruckAndUnits {display: none;}

div#HomeMiddleContainer, div#Features, div#PersonalStorage, div#StorageTools, div#GoogleMap {display: block; margin-left: auto; margin-right: auto; text-align: center;}
div#Features > div, div#PersonalStorage > div {display: inline-block;}
div#Features, div#PersonalStorage {border: none; padding: 0; width: 100%;}
div#StorageTools {margin-top: 2em; width: 25em;}
	div#StorageTools > div h1 {font-size: 2em;}
div#GoogleMap {margin-top: 2em;}

/* Layout
------------------------------------------------------*/
div#PageMiddleBackground {padding: 1.5em 0 0 0; width: 100%;}
div#GreenTrapezoid {display: none;}

}

@media screen and (max-width: 525px) { 

div#StorageFAQ dl dt, div#StorageFAQ dl dd, div#StorageTips dl dt, div#StorageTips dl dd {display: block; width: 100%;}
div#StorageFAQ dl dd, div#StorageTips dl dd {margin-bottom: .5em;}

}

@media screen and (max-width: 500px) { 

/* Size Guide */	

	div.SizeDescription div {font-size: .9em;}
	div.SizeDescription div h3 {font-size: 1.25em;}
	div.SizeDescription div:first-child {border: none;}

}
@media screen and (max-width: 450px) { 

/* Home Page
------------------------------------------------------*/
div#StorageTools {width: 100%;}
div#StorageTools > div, div#GoogleMap {display: none;}

/* Layout
------------------------------------------------------*/
div#PageMiddleBackground {padding-bottom: 5em;}


/* Footer
------------------------------------------------------*/
div#FooterArea {display: none;}
#mapPhoneBtns {display: block;}	

}

@media screen and (max-width: 400px) { 

div#Features > div ul li {background: url(../images/bck-feature-item.png) center no-repeat; background-size: 100%; color: #254d14; height: 40px; list-style: none; font: 300 .7em 'Open Sans', Arial, sans-serif; margin-bottom: .75em; padding: 8px; text-align: right; width: 120px;}
}

@media screen and (max-width: 370px) { 

}

